{
    "mcpServers": {
      "supabase": {
        "command": "cmd",
        "args": [
          "/c",
          "npx",
          "-y",
          "@supabase/mcp-server-supabase@latest",
          "--access-token",
          "sbp_5846ad02afffcbddf30ff9a6b55798e54caa83ac"
        ]
      }
    }
  }

# Regras do Cursor
# Quando o comando 'git' for digitado, execute a sequência de versionamento completa
[command:git]
run = [
  "git status",
  "git add .",
  "git commit -m 'commit automático via cursor'",
  "git push"
]